body,html{
  font-size: 100%;
  padding:0;
  margin:0;
}
*,*:after,*:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul li{
  list-style:none;
}
a{
  text-decoration: none;
}
body{
  background:#ffffff;
  font-family:"Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  font-weight:500;
  font-size:0.8rem;
}

.header img{
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
.header ul{
  display: inline-block;
  width:100%;
  margin-top:5.76rem;
}
.header ul li {
  float:left;
  width:3rem;
}
.header ul li a{
  font-size:0.67rem;
  color:#999999;
}
.header ul li a:hover{
  color:cornflowerblue;
  text-decoration: underline;
}
.header ul li.on a{
  text-decoration: underline;
  color:cornflowerblue;
}
.content{
  width:80%;
}
.loginform{
  width:100%;
  margin-left:1rem;
}
input[type="text"],input[type="password"]{
  border:1px solid #CCCCCC;
  width:100%;
  height:1.5rem;
  padding-left:0.2rem;
  border-radius:10px 10px;
  background-color: transparent;
}
.loginform ul{
  clear: both;
  width:100%;
  height:0.7rem;
  margin-top: 0.2rem;
}
.loginform ul li:nth-child(1){
  margin-left: -1.2rem;
}
.loginform ul li:nth-child(2){
  float:right;
}
.loginform ul li {
  font-size:0.4rem;
  float:left;

}
input[type="submit"]{
  border:1px solid dodgerblue;
  background-color:dodgerblue;
  color:#FFFFFF;
  width:100%;
  height:1rem;
  border-radius: 25px 25px;
  font-size:0.5rem;
}
.another{
  margin-top:1rem;
}
.another h1{
  font-size:0.4rem;
  color:#999999;
  margin-left:2rem;
}
.another h1 span{
  width:30%;
  display: block;
  text-decoration: line-through;
}
.another ul{
  margin-left:1.5rem;
}
.another ul li {
  float:left;
  width:30%;
  padding-left:0.3rem;
}

.another img{
  width:70%;
}
.hide{
  display:none
}
